/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
	font-family: "Open Sans", sans-serif;
	color: #272829;
}

a {
	color: #149ddd;
}

a:hover {
	color: #37b3ed;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header + nav-menu
--------------------------------------------------------------*/
#header {
    height: 72px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    padding: 15px 0;
    background: #000;
}

#header .logo h1 {
    font-size: 30px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#header .logo h1 a, #header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
}

@media (max-width: 992px) {
    #header {
        height: 60px;
        padding: 8px 0;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    float: left;
}

.nav-menu a {
    display: block;
    position: relative;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
    /*font-family: "Open Sans", sans-serif;*/
}

.nav-menu > ul > li + li {
    margin-left: 30px;
}

.nav-menu > ul > li > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 3px;
    left: 0;
    background-color:  #149ddd;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}


.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
    color: #149ddd;
}





/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: 60px 0;
	overflow: hidden;
}

.section-bg {
	background: #f5f8fd;
}

.section-title {
    padding-top: 10px;
}

.section-title h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	color: #173b6c;
}

.section-title h2::after {
	content: '';
	position: absolute;
	display: block;
	width: 50px;
	height: 3px;
	background: #149ddd;
	bottom: 0;
	left: 0;
}

.section-title p {
	margin-bottom: 10px;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
	font-weight: 700;
	font-size: 26px;
	color: #173b6c;
}


.about .content p:last-child {
	margin-bottom: 0;
}

.about .image{
	padding-bottom: 30px;
}

/*--------------------------------------------------------------
# Photos
--------------------------------------------------------------*/
.photos .portfolio-item {
	margin-bottom: 30px;
}

.photos .portfolio-wrap::before {
	content: "";
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: all ease-in-out 0.3s;
	z-index: 2;
	opacity: 0;
}
/*--------------------------------------------------------------
# Playlist
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Q&A
--------------------------------------------------------------*/
.spa ul {
	list-style: none;
	padding: 0;
}

.spa ul li {
	padding-bottom: 10px;
}

.spa ul i {
	font-size: 20px;
	padding-right: 2px;
	color: #149ddd;
}

.spa p:last-child {
	margin-bottom: 0;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/



@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


.rtl {
	direction: rtl;
	text-align: right;
}